<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.evaa.utils.RetryListener"/>
		 <listener class-name="com.evaa.utils.Listener"/>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.evaa.chatbot.SendTranscriptionTest"/>
      <class name="com.evaa.chatbot.AppointmentCancelTest"/>
      <class name="com.evaa.chatbot.AppointmentStatusTest"/>
      <class name="com.evaa.chatbot.OpticalOrderCheckTest"/>
      <class name="com.evaa.chatbot.PrimaryInformationValidationTest"/>
      <class name="com.evaa.chatbot.BookAppointmentSuccessfullyWithInsuranceTest"/>
      <class name="com.evaa.chatbot.AfterBookAppointmentTestMsgTest"/>
      <class name="com.evaa.chatbot.RescheduleAppointmentTest"/>
      <class name="com.evaa.chatbot.BookAppointmentSuccessfullyTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
